html,body {
  height:100%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.special,.special .jumbotron .jumbotron2 .jumbotron3 {height:100%;}

nav {
  background-color: #222;
}

.navbar {
  border: 0px;
}

.navbar .nav {
  margin: 0 auto;
  width: 70%;
  font-size: 1.25em;
  float: none;
}

.navbar-brand img {
  max-width:40px;
  margin-top: -15px; 
}

#navList li a{
	color: #FFF;
  transition: background-color 800ms;
}

#navList li a:hover{
	color: #222;
  background-color: #5E96C3;
  font-weight: 700;
}

#jumbotron {
  background: url(../public/img/jumbotron.jpg) center;
  background-size: cover;
  color: #FFF;
}

.jumbotron p {
  font-size: 3.5em;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  text-align: right;
  padding-right: 5px;
  width: 100%;
  background-color: #5E96C3;
}

#events ul {
  width: 30%;
  float: left;
  margin: 0;
  padding: 0;
}

#events .tab-content {
  width: 60%;
  float: left;
  padding: 5px;
}

#jumbotron2 {
  background: url(../public/img/jumbotron2.jpg) center;
  background-size: cover;
}

#jumbotron3 {
  background: url(../public/img/jumbotron3.jpg) center;
  background-size: cover;
}

html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}

.carousel-inner > .item {
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.3s ease-in-out left;
    -o-transition: 0.3s ease-in-out left;
    transition: 0.3s ease-in-out left;
}

@media (max-width: 767px) { 
	body {
		padding-left: 0;
		padding-right: 0;
	}
}

.cover-card {
	border: 2px solid white;
	background: silver;
	padding: 0px;
	margin: 0px;
	height:200px;
}
.cover-card > p {
	text-align: center;
	background-color: rgba(6,6,6,0.0);
	color: rgba(6,6,6,0.0);
	width: 100%;
	height: 100%;
	font-weight: bold;
	font-size: 20px;
}
.cover-card:hover > p {
	background-color: rgba(6,6,6,0.3);
	color: white;
	text-shadow: 3px 3px 10px #000;
}

#contact, #events, #about {
	max-width: 60%;
	margin: 0 auto;
}

h1{
	text-align: center;
}

h3{
	font-style: oblique;
	color: #666666;
}
.featurette-divider {
  margin: 80px 0; 
}
.featurette {
  padding-top: 120px; 
  overflow: hidden; 
}
.featurette-image {
  margin-top: -120px; 
}

.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
